---
---

@import "{{ site.theme }}";


body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font-size: 18px;
  line-height: 1.5;
  font-family: Monaco,"Bitstream Vera Sans Mono"," Console",Terminal,monospace;
  text-align: justify;
}

div.grid{
  display: grid;
  column-gap: 20px;
  row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
}

@font-face {
  font-family: "Roddenberry";
  src: url('/assets/css/Roddenberry.otf') format("opentype");
}

@font-face {
  font-family: "VeraMoBI";
  src: url('/assets/css/VeraMoBI.ttf');
}

.academia {
  align-items: center;
  justify-content: center;
}

.article {
  max-width: 25%;
  max-height:15%;
  float: left;
}

.abstract {
  padding-left: 20px;
  padding-top: 20%;
  float: left;
}


div.grid-post{
  display: grid;
  column-gap: 1em;
  row-gap: 3.125em;
  grid-template-columns: 1fr 4fr;
}

div.grid-post-big{
  display: grid;
  column-gap: 1.5em;
  row-gap: 3.125em;
  grid-template-columns: 1fr 3fr;
}

img.blog-thumb{
  padding-top: 6%;
}

h2.blog:hover{
  color: #cd7901;
}

a.blog{
  text-decoration: inherit;
  color: inherit;
}

div.grid-two-photos{
  display: grid;
  row-gap: 3.125em;
  grid-template-columns: 1fr 1fr;
}

div.grid-two{
  display: grid;
  column-gap: 3.125em;
  row-gap: 3.125em;
  grid-template-columns: 1fr 1fr;
}

div.box-two{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  display: inline-grid;
  border-style: dashed;
  border-color: #40E7AA;
  border-radius: 25px;
  color: white;
  text-align: center;
}

li:not(:last-child) { 
   margin-bottom: 10px;  
}

div.box-two:hover{
  border-color: #cd7901;
}

img.main{
  border: solid 10px #dfdfdf;
}

div.note{
  border: solid #029b8a;
  border-width: 3px;
  background-color: #20bcaf;
  padding: 10px;
  color: white;
}

div.warning{
  border: solid #ffc189;
  border-width: 3px;
  background-color: #cd7901;
  padding: 10px;
}

div.error{
  border: solid #F44100;
  border-width: 3px;
  background-color: #B02F00;
  padding: 10px;
}


img.orange-border{
  border: 0.523em solid #f3a660;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

img.schema{
  background-color: #2a2a2a;
  padding: 5%;
}

.rodden{
  font-family: "Roddenberry";
  color: #43CAB2;
  letter-spacing: 0.05em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(83,232,170,0.1), 0 0 10px rgba(83,232,191,0.1);
  font-size: 28px;
  margin-bottom: 0;
}

.vera{
  font-family: "VeraMoBI";
  color: #43CAB2;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(83,232,170,0.1), 0 0 10px rgba(83,232,191,0.1);
  font-size: 40px;
}

div.grid-one{
  text-align: center;
  display: grid;
  column-gap: 2%;
}

div.main-box:hover{
  border-color: #cd7901;
}

div.main-box{
  display: inline-grid;
  border-style: dashed;
  border-color: #40E7AA;
  border-radius: 25px;
  color: white;
  display: grid;
  padding-bottom: 3%;
  font-size: 25px;
}

div.big-box{
  display: inline-grid;
  border-style: dashed;
  border-color: #40E7AA;
  border-radius: 25px;
  color: white;
  display: grid;
  grid-template-columns: 90%;
  padding-bottom: 3%;
  font-size: 25px;
}


a.box{
  text-decoration-line: none; 
}

div.box{
  display: inline-grid;
  border-style: dashed;
  border-color: #40E7AA;
  border-radius: 25px;
  color: white;
  display: grid;
  grid-template-columns: 40% 50%;
}

div.box:hover{
  border-style: dashed;
  border-color: #cd7901;
}

div.box-big{
  display: inline-grid;
  border-style: dashed;
  border-color: #40E7AA;
  border-radius: 25px;
  color: white;
}


div.box:hover{
  border-color: #FCA310;
}

.disabled{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}


.flag{
  width: 25%;
}

.card-text{
  padding-left: 20%;
}

.center {
  text-align: center;
}

.mini-flag{
  width: 5%;
}

.mini-icon{
  width: 15%;
}

.micro-icon{
  width: 10%;
}


.mini-os{
  width: 1em;
  height: 1em;
  margin-top: -50%;
  margin-bottom: 20%;
  margin-right: 0;
  background: #111927 !important;
  border: 2px solid #141d2b;
  border-radius: 50%;
  margin-left: auto;
  position: relative;
  vertical-align: middle;
  z-index: 2;
}

.mini-os-img{
  width: 100%;
}

.logo{
  width: 80%;
  padding-left: 15%;
  padding-top: 20%;
  padding-bottom: 15%;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

div.comments{
  width: 60%;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4;
}

header {
  background: rgba(0,0,0,0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 38px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Console", Terminal, monospace;
  color: #FF8200;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0 5px rgba(241, 182, 18, 0.1), 0 0 10px rgba(222, 168, 15, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h1:before {
  content: "./ ";
  font-size: 35px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

section img {
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Console", Terminal, monospace;
  color: #43CAB2;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(83,232,170,0.1),0 0 10px rgba(83,232,191,0.1);
}

#main_content h1 {
  font-size: 35px;
}

#main_content h2 {
  font-size: 28px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style-image: url("../images/bullet.png");
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255,255,255,0.15);
  border-width: 1px 1px 1px 3px;
  border-left-color: #43CAB2;
  padding: 15px;
  font-size: 16px;
  color: #b5e853;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

code.highlighter-rouge {
  background: rgba(0,0,0,0.9);
  border: 1px solid rgba(255,255,255,0.15);
  padding: 10px 12px;
  margin: 0px -3px;
  color: #F72585;
  border-radius: 2px;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.3), rgba(35,35,35,0.3) 50%, rgba(10,10,10,0.3) 50%, rgba(0,0,0,0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0,0,0,0.7);
  border-bottom: 2px solid rgba(0,0,0,0.7);
  border-top: 2px solid #000;
  color: rgba(255,255,255,0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.75);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40,40,40,0.6), rgba(35,35,35,0.6) 50%, rgba(10,10,10,0.8) 50%, rgba(0,0,0,0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

.banners{
  display: flex;
}

.hack{
  margin: 0.5%;
}

a {
  color: #2577DD;
  text-shadow: 0 0 5px rgba(104,123,255,0.5);
}

.cf:before,.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #011627; color: #d6deeb }
.highlight .c { color: #637777; font-style: italic } /* Comment */
.highlight .err { color: #d6deeb } /* Error */
.highlight .esc { color: #d6deeb } /* Escape */
.highlight .g { color: #d6deeb } /* Generic */
.highlight .k { color: #c792ea; font-style: italic } /* Keyword */
.highlight .l { color: #d6deeb } /* Literal */
.highlight .n { color: #d6deeb } /* Name */
.highlight .o { color: #7fdbca } /* Operator */
.highlight .x { color: #d6deeb } /* Other */
.highlight .p { color: #d6deeb } /* Punctuation */
.highlight .ch { color: #637777; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #637777; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #7fdbca } /* Comment. */
.highlight .cpf { color: #637777; font-style: italic } /* Comment. */
.highlight .c1 { color: #637777; font-style: italic } /* Comment.Single */
.highlight .cs { color: #637777; font-style: italic } /* Comment.Special */
.highlight .gd { color: #d6deeb } /* Generic.Deleted */
.highlight .ge { color: #697098; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #d6deeb } /* Generic.Error */
.highlight .gh { color: #82b1ff } /* Generic.Heading */
.highlight .gi { color: #d6deeb } /* Generic.Inserted */
.highlight .go { color: #d6deeb } /* Generic.Output */
.highlight .gp { color: #d6deeb } /* Generic.Prompt */
.highlight .gs { color: #addb67; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #d6deeb } /* Generic.Subheading */
.highlight .gt { color: #d6deeb } /* Generic.Traceback */
.highlight .kc { color: #82aaff } /* Keyword.Constant */
.highlight .kd { color: #c792ea; font-style: italic } /* Keyword.Declaration */
.highlight .kn { color: #c792ea; font-style: italic } /* Keyword.Namespace */
.highlight .kp { color: #c792ea; font-style: italic } /* Keyword.Pseudo */
.highlight .k-Psuedo { color: #c792ea; font-style: italic } /* Keyword.Psuedo */
.highlight .kr { color: #c792ea; font-style: italic } /* Keyword.Reserved */
.highlight .kt { color: #82aaff } /* Keyword.Type */
.highlight .ld { color: #d6deeb } /* Literal.Date */
.highlight .m { color: #f78c6c } /* Literal.Number */
.highlight .s { color: #ecc48d } /* Literal.String */
.highlight .na { color: #ff869a } /* Name.Attribute */
.highlight .nb { color: #addb67 } /* Name.Builtin */
.highlight .nc { color: #d6deeb } /* Name.Class */
.highlight .no { color: #d6deeb } /* Name.Constant */
.highlight .nd { color: #d6deeb } /* Name.Decorator */
.highlight .ni { color: #d6deeb } /* Name.Entity */
.highlight .ne { color: #d6deeb } /* Name.Exception */
.highlight .nf { color: #82aaff } /* Name.Function */
.highlight .nl { color: #7fdbca } /* Name.Label */
.highlight .nn { color: #d6deeb } /* Name.Namespace */
.highlight .nx { color: #d6deeb } /* Name.Other */
.highlight .py { color: #d6deeb } /* Name.Property */
.highlight .nt { color: #d6deeb } /* Name.Tag */
.highlight .nv { color: #d6deeb } /* Name.Variable */
.highlight .ow { color: #7fdbca } /* Operator.Word */
.highlight .w { color: #d6deeb } /* Text.Whitespace */
.highlight .mb { color: #f78c6c } /* Literal.Number.Bin */
.highlight .mf { color: #f78c6c } /* Literal.Number.Float */
.highlight .mh { color: #f78c6c } /* Literal.Number.Hex */
.highlight .mi { color: #f78c6c } /* Literal.Number.Integer */
.highlight .mo { color: #f78c6c } /* Literal.Number.Oct */
.highlight .sa { color: #c792ea } /* Literal.String.Affix */
.highlight .sb { color: #ecc48d } /* Literal.String.Backtick */
.highlight .sc { color: #ecc48d } /* Literal.String.Char */
.highlight .dl { color: #ecc48d } /* Literal.String.Delimiter */
.highlight .sd { color: #ecc48d } /* Literal.String.Doc */
.highlight .s2 { color: #ecc48d } /* Literal.String.Double */
.highlight .se { color: #ff6363 } /* Literal.String.Escape */
.highlight .sh { color: #ecc48d } /* Literal.String.Heredoc */
.highlight .si { color: #ecc48d } /* Literal.String.Interpol */
.highlight .sx { color: #ecc48d } /* Literal.String.Other */
.highlight .s-Quote { color: #d9f5dd } /* Literal.String.Quote */
.highlight .sr { color: #ecc48d } /* Literal.String.Regex */
.highlight .s1 { color: #ecc48d } /* Literal.String.Single */
.highlight .ss { color: #ecc48d } /* Literal.String.Symbol */
.highlight .bp { color: #d6deeb } /* Name.Builtin.Pseudo */
.highlight .fm { color: #82aaff } /* Name.Function.Magic */
.highlight .vc { color: #d6deeb } /* Name.Variable.Class */
.highlight .vg { color: #d6deeb } /* Name.Variable.Global */
.highlight .vi { color: #d6deeb } /* Name.Variable.Instance */
.highlight .vm { color: #d6deeb } /* Name.Variable.Magic */
.highlight .il { color: #f78c6c } /* Literal.Number.Integer.Long */



@media (max-width: 767px) {
  
  div.grid-two{
    display: grid;
    column-gap: 1.125em;
    row-gap: 2.125em;
    grid-template-columns: 1fr;
  }

  img.schema{
    background-color: #2a2a2a;
    padding: 5%;
    width: 80%;
  }

  img.head-logo{
    width: 80%;
  }

  .logo {
    width: 70%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .card-text {
    padding-left: 20%;
    padding-top: 10%;
  }

  div.grid{
    display: grid;
    column-gap: 20px;
    row-gap: 30px;
    grid-template-columns: 1fr 1fr;
  }

  .mini-os{
    width: 2em;
    height: 2em;
    margin-top: -50%;
    margin-bottom: 20%;
    margin-right: 0;
    background: #111927 !important;
    border: 2px solid #141d2b;
    border-radius: 50%;
    margin-left: auto;
    position: relative;
    vertical-align: middle;
    z-index: 2;
  }
  
}